<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h2 th:text="${post.title}"></h2>
<h3 th:text="${post.description}"></h3>
<p>The email is :<span th:text="${post.user.email}"></span></p>

Posted by
<!--<a th:href="${'/users/'+ post.user.id}" th :text="${post.user.usernsme}"></a>-->
<a th:href="@{'/posts/'+${post.id}+'/edit'}">Edit</a>
<form th:method="POST" th:action="@{/posts/delete}">
    <input type="hidden" name="id" th:value="${post.id}"/>
    <button> Delete</button>
</form>
</body>
</html>