
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
   <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-G3G7OsJCbOk1USkOY4RfeX1z27YaWrZ1YuaQ5tbuawed9IoreRDpWpTkZLXQfPm3" crossorigin="anonymous"/>

</head>
<body>
<nav style="color: mediumblue" th:fragment="navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/posts">Blog</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ><a href="/posts/create">Create Post</a></li>
            <li ><a href="/login">Login</a></li>
            <li><a href="/register">Create User</a></li>
            <li>
                <form th:action="@{/logout}" th:method="POST">
                    <button style="margin-top: 11px" class="btn btn-info">logout</button>
                </form>
            </li>
        </ul>
    </div><!-- /.container-fluid -->

</nav>

</body>
</html>


